
{% set collection = page.collection().order('date', 'desc') %}

{% block content %}
    {% for page in collection %}
        <a href="{{ page.url }}">
            <div class="post-container">
                <div class="post-title">{{ page.title }}</div>
                <div class="post-author">by {{ page.header.author }}</div>
                <div class="post-preview">
                    {{ page.summary }}
                </div>
            </div>
        </a>
    {% endfor %}
{% endblock %}
