<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
    <title>{% if header.title %} {{ header.title|e('html') }} | {%endif %} {{ site.title|e('html') }} </title>

    {% do assets.addCss('theme://css/custom.css') %}
    {% do assets.addCss('https://fonts.googleapis.com/css?family=Work+Sans:300,400,600,800') %}

    {{ assets.css() }}
</head>
<body>

{% block header %}
    <div class="header">
        <div class="top-nav-bar">

            <div class="nav-left">
                HOME
            </div>

            <div class="nav-center">
                <h1>TITLE</h1>
            </div>

            <div class="nav-right">
                <div class="button">
                    ABOUT
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <section id="body">
        <div class="wrapper padding">
        {% block content %}{% endblock %}
        </div>
    </section>
{% endblock %}

{% block footer %}
    <div class="footer">
        <hr>
        <p>Future content to go here</p>
    </div>
{% endblock %}


</body>
</html>
